NODE_ENV=

# Port number
PORT=

SERVER_NAME=
API_URL=
# URL of client application
CLIENT_URL=

# Database Config
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE= 
DB_LOCAL_PORT= 
DB_DOCKER_PORT= 
DB_HOST= 
